div#email-form {

}

button#email-btn {
  background-color: #f05e24;
  width: 150px;
  height: 50px;
}

form {
  clear:right;
  background-color: #303533;
  padding: 1%;
}

input, textarea {
  display: block;
  vertical-align: right;
  width: 150px;
}


input[type=submit] {
  margin-top: 1%;

}
label {
  color: #ffffff;
  display: inline-block;
  clear:right;
}

span.require {
  color:red;
}
